<!DOCTYPE html>   
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> hello world!</h1>

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<!-- {% load static %}
<img src="{%static 'IU.jpg'%}" alt="iu"> -->
<img src="../../static/IU.jpg" alt="iu">

<span>span 태그1</span> 
<span>span 태그2</span>


<div>안녕하세요</div>
<div>두번째 

<h1>h1</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<!-- {% load static %}
<img src="{%static 'IU.jpg'%}" alt="iu"> -->
<img src="../../static/IU.jpg" alt="iu">

<span>span 태그1</span> 
<span>span 태그2</span>


<div>안녕하세요</div>
<div>두번째 영역입니다</div>

<a href="https://www.google.com" target="_blank">Google Link</a>

</body>
</html> 